modules = ["nodejs-20", "web"]

run = "npm run dev"

[nix]
channel = "stable-24_05"
packages = ["SDL2", "SDL2_image", "SDL2_mixer", "SDL2_ttf", "cacert", "cairo", "cargo", "cups", "espeak-ng", "ffmpeg-full", "fontconfig", "freetype", "gdb", "glibcLocales", "libarchive", "libcap", "libffi", "libiconv", "libjpeg", "libpng", "libxcrypt", "ncurses", "openssl", "pkg-config", "portaudio", "portmidi", "rustc", "samba", "udev", "xcodebuild", "xsimd", "zlib"]

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5173
externalPort = 80

[agent]
expertMode = true
